.Card {
  font-family: "Ninja Naruto";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    rgba(255, 68, 0, 0.466);
  background-size: 12px, 100%;
  /* solid border */
  border: 0.4rem solid #000;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Card:hover {
  cursor: pointer;
  transform: translateY(-1rem);
  transition: 0.5s;
}
.Card:not(:hover) {
  transform: translateY(1rem);
  transition: 0.5s;
}

.Card__image {
  height: 25vh;
  width: 10vw;
  border-radius: 20%;
  opacity: 0.85;
}
