.Container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/src/img/background.jpg");

  /* Set a specific height */

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
}

.Score {
  font-family: "Ninja Naruto";
  width: 50vw;
  align-self: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4vh;
}

.Score__element {
  font-family: "Ninja Naruto";
  font-size: 1.5rem;
  background: -webkit-linear-gradient(top, #2b4ea1 30%, #3e8ec1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
