.Header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Header__title {
  font-family: "Ninja Naruto";
  font-size: 5rem;
  letter-spacing: 0.2rem;
  background: -webkit-linear-gradient(top, orangered, orange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
